html{
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
}
body{
    padding: 15px;
}
h1{
    font-size: 2.5em;
}
h2{
    font-size: 1.7em;
}
p{
    font-size: 1.3em;
    font-weight: 400;
}
main{
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.div{
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    min-width: 95vw;
    padding: 5px;
}
.div img{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    filter: opacity(50%);
}
.div_1 img{
    width: 100%;
    height: 100%;
}